<div class='panel panel-primary'>
    <div class='panel-heading'>
      Elf Management
        <div class="pull-right">
            <div class="col-sm-8" ><input  type="text"  #searchfilter  id="inputName" class="form-control input-sm pull-right" /></div>
            <div class="col-sm-4" ><input type="button"  class="btn btn-sm pull-left" (click)="SearchData()" value="Search"/></div>
        </div>
    </div>
   
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="AddElf()">Add</button></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="./../../images/loader.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='elves && elves.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='elves && elves.length'>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Naughtiness</th>
                    <th>Intelligence</th>
                    <th>Specialty</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let elf of elves">
                    <td>{{elf.Name}}</td>
                    <td>{{elf.Age}}</td>
                    <td>{{elf.Naughtiness}}</td>
                    <td hidden>{{elf.Intelligence}}</td>
                    <td [ngSwitch]="elf.Intelligence">
                        <span *ngSwitchCase=1>Super Dumb</span>
                        <span *ngSwitchCase=2>Dumb</span>
                        <span *ngSwitchCase=3>Average</span>
                        <span *ngSwitchCase=4>Smart</span>
                        <span *ngSwitchCase=5>Super Smart</span>                
                    </td>
                    <td>{{elf.Specialty}}</td>
                    <td>
                        <button title="Edit" class="btn btn-primary" (click)="EditElf(elf.Id)">Edit</button>
                        <button title="Delete" class="btn btn-danger" (click)="DeleteElf(elf.Id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(elfFrm)" [formGroup]="elfFrm" class="form-horizontal">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="Name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="age">Age:</label>
                <div class="col-sm-10">
                    <input type="number" min="1" max="120" class="form-control" id="age" placeholder="Age" formControlName="Age">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="naughtiness">Naughtiness:</label>
                <div class="col-sm-10">
                    <input type="number" min="0" max="10" class="form-control" id="naughtiness" placeholder="Naughtiness" formControlName="Naughtiness">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="intelligence">Intelligence:</label>
                <div class="col-sm-10">
                    <select formControlName="Intelligence" class="form-control" id="intelligence">
                        <option value=1>Super Dumb</option>
                        <option value=2>Dumb</option>
                        <option value=3>Average</option>
                        <option value=4>Smart</option>
                        <option value=5>Super Smart</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="specialty">Specialty:</label>
                <div class="col-sm-10">
                    <textarea  class="form-control" rows="10" cols="20" placeholder="Specialty" formControlName="Specialty" id="specialty"></textarea>
                </div>
            </div>
            
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="elfFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>